<!doctype html>
<html lang="en">
<%- include('./_partials/head') %>
<body class="cd-u-hspace">
    <%- include('./_partials/header') %>

    <section class="cd-c-Content">
        <% if (inGame) { %>
        <%- include('./_partials/game') %>
        <% } else {%>
        <%- include('./_partials/game_start') %>
        <% } %>
    </section>

    <%- include('_partials/footer') %>
</body>
</html>