<% const alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]; %>

<div class="cd-c-Game">
    <div class="cd-u-wrapper">
        <p class="cd-c-Game-tries">You have <span><%= numberOfTry  %></span> tries left</p>

        <div class="cd-c-Game-score">Score : <%= score  %></div>
        <% if(game) { %>
            <p class="cd-c-Game-hiddenWord"><%= game %></p>
        <% } %>

        <form action="/" method="post">


            <div class="cd-c-Game-letters">
                <% alphabet.forEach( element => {%>
                    <% let letter = element %>
                    <button
                            type="submit"
                            class="cd-c-Game-letter"
                    <% if(lettersTried.includes(letter)) { %> disabled<% } %>
                            name="word"
                            id="letter-<%= letter %>"
                            value="<%= letter %>">
                        <%= letter %>
                    </button>
                <% }) %>
            </div>

            <div class="cd-c-Game-buttons">
                <button class="cd-c-Btn" type="submit" name="reset" value="true">Reset</button>
                <button class="cd-c-Btn" type="submit" name="leave" value="true" cd-leave>Leave</button>
            </div>

        </form>

        <script>
            document.addEventListener('keydown', (event) => {
                document.getElementById('letter-'+event.key)?.click()
            })
        </script>
    </div>
</div>