<% const alphabet = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]; %>

<main class="cd-c-Game cd-u-hspace">
    <div class="cd-u-wrapper">

        <% if(knowWord) { %>
            <p><%= knowWord %></p>
        <% } %>

        <p class="cd-c-Game-tries">You have <span><%= numberOfTry  %></span> tries left</p>

        <% if(game) { %>
            <p class="cd-c-Game-hiddenWord"><%= game %></p>
        <% } %>

        <form action="/" method="post">


            <div class="cd-c-Game-letters">
                <% alphabet.forEach( element => {%>
                    <% let word = element %>
                    <button
                            type="submit"
                            class="cd-c-Game-letter"
                    <% if(lettersTried.includes(word)) { %> disabled<% } %>
                            name="word"
                            value="<%= word %>">
                        <%= word %>
                    </button>
                <% }) %>
            </div>

            <div class="cd-c-Game-formField">
                <button class="cd-c-Btn" type="submit" name="reset" value="true">Reset</button>
            </div>

        </form>

    </div>
</main>