<!doctype html>
<html lang="en">
<%- include('./_partials/head') %>
<body>
    <%- include('./_partials/header') %>

    <p>Nombre d'essais restant: <%= numberOfTry  %></p>

    <form action="/" method="post">

        <div class="cd-c-Main-FormField">
            <label for="word">Entrez une lettre
                <input type="text" name="word" maxlength="1">
            </label>
        </div>

        <div class="cd-c-Main-FormField">
            <button type="submit">Tester</button>
            <button type="submit" name="reset" value="true">Reset</button>
        </div>

    </form>

    <% if(game) { %>
        <p>Votre mot : <%= game %></p>
    <% } %>

    <% if(numberOfTry <= 0) { %>
        <p>Le mot était : <%= word %></p>
    <% } %>

    <%- include('_partials/footer') %>
</body>
</html>